.info {
  max-width: 800px;
  margin: 30px auto;
}
.info {
  text-align: center;
}

.photo-container,
.container {
  display: block;
  margin: 30px auto;
  text-align: center;
}
.photo-container a,
.container a {
  text-decoration: none;
}
.croissant-image {
  max-width: 500px;
  margin: 30px auto;
}
.email {
  text-align: center;
  text-decoration: none;
}
.blue {
  color: blue;
  border: none;
  background-color: black;
}
